.box {
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 10px;
}
.box.left {
  background-color: blue;
}
.box.right {
  background: pink;
}
.box .right {
  background: black;
  margin: 20px;
}
.margin-left {
  margin-left: 30px;
}
div:nth-child(4) {
  height: 400px;
  width: 400px;
  background-color: green;
}
